{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- quote section -->
<!-- slider section -->
<section class="slider_section position-relative">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">
        01
      </li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1">
        02
      </li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <div class="row">
            <div class="col-md-7">
              <div class="detail-box">
                <div>
                  <h1>
                    Добро пожаловать в<br />
                    <span> ЮРИДИЧЕСКУЮ ФИРМУ CONFIDENCE </span>
                  </h1>
                  <p>CONFIDENCE LAW FIRM</p>
                  <div class="btn-box">
                    <a href="" class="btn-1"> Связяться с нами </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="row">
            <div class="col-md-7">
              <div class="detail-box">
                <div>
                  <h1>
                    Welcome to <br />
                    <span>
                      CONFIDENCE LAW FIRM </span>
                  </h1>
                  <p>

                  </p>
                  <div class="btn-box">
                    <a href="" class="btn-1"> Связяться </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="custom_carousel-control">
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>
<!-- end slider section -->
</div>
<section class="quote_section layout_padding">
  <div class="container">
    <div class="box">
      <div class="detail-box">
        <h3>
          ЮРИДИЧЕСКАЯ ФИРМА CONFIDENCE
          ​
        </h3>
        <p>
          Фирма осуществляет юридические услуги на территории города Бишкек, Кыргызская Республика. Основными
          направлениями Фирмы являются судебное представительство в судебных органах, корпоративное обслуживание
          предпринимателей, налоговое консультирование и сопровождение процедуры лицензирования и
          регистрация/перерегистрация/ликвидация юридических лиц и филиалов/представительств. Следует отметить, что наша
          Фирма состоит в консалтинговом консорциуме с бухгалтерской компанией, что обеспечивает всестороннее и
          комплексное обслуживание предпринимателей по вопросам юриспруденции и налогового/бухгалтерского учета.

        </p>
      </div>
      <div class="btn-box">
        <a href="">

        </a>
      </div>
    </div>
  </div>
</section>

<!-- end quote section -->


<!-- client section -->

<section class="client_section layout_padding-top">
  <div class="d-flex justify-content-center">
    <div class="heading_container">
      <h2>
      </h2>
    </div>
  </div>
  <div class="container layout_padding2">
    <div id="carouselExample2Indicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExample2Indicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExample2Indicators" data-slide-to="1"></li>
        <li data-target="#carouselExample2Indicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item ">
          <div class="client_container">
            <div class="client-id">
              <div class="img-box">
                <img src="{% static 'images/gandi.jpg'%}" alt="">
              </div>
              <div class="client_name">
                <div>
                  <h3>
                    Mahatma Gandi
                  </h3>
                  <p>
                  </p>
                </div>
              </div>
            </div>
            <div class="client_detail">
              <div class="client_text">
                <blockquote>
                  <p>
                    «Клиент – это самый важный посетитель. Не он зависит от нас. Мы зависим от него. Он не прерывает
                    нашу работу. Он – цель нашей работы. Он не по ту сторону нашего бизнеса. Он – его часть. Мы не
                    делаем ему одолжение, обслуживая его. Он делает нам одолжение, давая возможность это сделать»
                  </p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item active">
          <div class="client_container">
            <div class="client-id">
              <div class="img-box">
                <img src="{% static 'richard.jpg'%}" alt="">
              </div>
              <div class="client_name">
                <div>
                  <h3>
                    Richard Branson
                  </h3>
                  <p>
                  </p>
                </div>
              </div>
            </div>
            <div class="client_detail">
              <div class="client_text">
                <blockquote>
                  <p>
                    «Главное - установить реалистичные ожидания клиентов, а затем не просто удовлетворить их, а
                    превзойти их, желательно неожиданными и полезными способами».
                  </p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="client_container">
            <div class="client-id">
              <div class="img-box">
                <img src="{% static 'images/nelson.jpeg'%}" alt="">
              </div>
              <div class="client_name">
                <div>
                  <h3>
                    Nelson Boswell
                  </h3>
                  <p>
                  </p>
                </div>
              </div>
            </div>
            <div class="client_detail">
              <div class="client_text">
                <blockquote>
                  <p>
                    Есть одно очень простое, но действенное правило: всегда давайте людям больше, чем они ожидают
                    получить.
                  </p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>


<!-- end client section -->

</div>


<!-- end info section -->
{% endblock %}